<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
@*<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js" integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css" integrity="sha512-BMbq2It2D3J17/C7aRklzOODG1IQ3+MHw3ifzBHMBwGO/0yUqYmsStgBjI0z5EYlaDEFnvYV7gNYdD3vFLRKsA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@using SiemensProjectManagement.Models;
@model SiemensProjectManagement.Models.AssetModel
@{ ViewBag.Title = "Assets"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
<h2>Assets</h2>
<body>

    <div class="container-fluid">
        @using (Html.BeginForm(null, null, FormMethod.Post))
        {

            @Html.AntiForgeryToken();
            @Html.DropDownList("Users", (IEnumerable<SelectListItem>)TempData["Users"], new { @id = "ddluser", @class = "bootstrap-select" });
          //  @Html.DropDownListFor(Model => Model.selectedUserID, new SelectList(TempData["Users"] as List<dynamic>, "UserID", "DisplayName"), new { @id = "userID" })
            <input type="button" value="submit" onclick="fnShow()" />
        }

    </div>

    <br />
    <div class="container-fluid">
        <div class="row">
        </div>
        <div class="row">
            <div class="tab">
                <button class="tablinks active" id="tabassets" onclick="openAssets(event, 'Assets')">Assets</button>
                <button class="tablinks" id="tabplcs" onclick="openAssets(event, 'PLCs')">PLCs</button>
                <button class="tablinks" id="tabtransfer" onclick="openAssets(event, 'Transfer')">Transfer</button>
                <button class="tablinks" id="tabprocesslist" onclick="openAssets(event, 'ProcessList')">ProcessList</button>
            </div>
            <!-- Tab content -->
            <div id="Assets" class="tabcontent">
                <h3>Assets</h3>

                <table id="AssetTable" class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Username </td>
                            <td>Hostname </td>
                            <td> Serial No. </td>
                            <td>Location</td>
                            <td>ExpireBy </td>
                            <td>ProjectName</td>
                            <td>Transfer</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (var result in TempData["assets"] as List<AssetDetail>)
                            {
                                <tr>
                                    <td>@result.UserName </td>
                                    <td>@result.HostName </td>
                                    <td>@result.Serial_No  </td>
                                    <td> @result.Location </td>
                                    <td>@result.ExpireBy</td>
                                    <td> @result.ProjectID </td>
                                    <td> </td>
                                </tr>
                            } }
                    </tbody>
                </table>
            </div>
            <div id="PLCs" class="tabcontent ">
                <h3>PLCs</h3>
                <table id="PLCTable" class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <td> PLCID </td>
                            <td>Username </td>
                            <td> DeviceID</td>
                            <td>IPAddress</td>
                            <td> RackNo.</td>
                            <td>SerialNo. </td>
                            <td>Transfer</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (var result in TempData["plcs"] as List<PlcInfo>)
                            {
                                <tr>
                                    <td> @result.PlcId</td>
                                    <td>@result.UserName</td>
                                    <td> @result.DeviceId</td>
                                    <td>@result.IpAddress</td>
                                    <td> @result.Rack_No</td>
                                    <td> @result.Serial_No</td>
                                    <td></td>
                                </tr>
                            } }
                    </tbody>
                </table>
            </div>
            <div id="Transfer" class="tabcontent ">
                <h3>Transfer</h3>
                <table id="TransferTable" class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Transfer_Id </td>
                            <td>Asset_Id </td>
                            <td>Requester_UserId</td>
                            <td>TransferState</td>
                            <td>Comments </td>
                            <td>CreatedDate</td>
                            <td>Revert</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (var result in TempData["transfer"] as List<AssestTransfer>)
                            {
                                <tr>
                                    <td> @result.Transfer_id</td>
                                    <td>@result.AssetId</td>
                                    <td>@result.Requester_UserId</td>
                                    <td>@result.Transfer_State</td>
                                    <td>@result.Responsible_Comments</td>
                                    <td>@result.CreatedDate</td>
                                    <td></td>
                                </tr>
                            } }

                    </tbody>
                </table>
            </div>
            <div id="ProcessList" class="tabcontent ">
                <h3>ProcessList</h3>
                <table id="ProcessTable" class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Transfer_Id </td>
                            <td>Asset_Id </td>
                            <td>Responsible_UserId</td>
                            <td>TransferState</td>
                            <td>Comments </td>
                            <td>CreatedDate</td>
                            <td>Approve</td>
                            <td>Reject</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (var result in TempData["processList"] as List<AssestTransfer>)
                            {
                                <tr>
                                    <td>@result.Transfer_id</td>
                                    <td>@result.AssetId</td>
                                    <td>@result.Responsible_UserId</td>
                                    <td>@result.Transfer_State</td>
                                    <td>@result.Responsible_Comments</td>
                                    <td>@result.CreatedDate</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            } }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="modal fade" id="mdlAssets" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Asset Transfer</h4>

                </div>
                <div class="modal-body">

                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Project Name</label>
                        </div>
                        <div class="col-sm-9">

                            <select id="mdlProject" class="bootstrap-select" disabled style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Owner</label>
                        </div>
                        <div class="col-sm-9">
                            <select id="mdlReponsible" disabled class="bootstrap-select" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Asset Type</label>
                        </div>
                        <div class="col-sm-9">
                            <select id="mdlAssettype" disabled class="bootstrap-select" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Requester Name</label>
                        </div>
                        <div class="col-sm-9">
                            <select id="mdlrequester" class="bootstrap-select" style="width:100%;" placeholder="Please select name">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Comments</label>
                        </div>
                        <div class="col-sm-9">
                            <textarea id="mdlcomments" class="form-control" style="width:100%;">
                            </textarea>
                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" id="btnUpdate" onclick="fnTransferAssets()" class="btn btn-primary" data-dismiss="modal">Transfer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlTransfer" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Approve Transfer Request</h4>

                </div>
                <div class="modal-body">

                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Transfer Id</label>
                        </div>
                        <div class="col-sm-9">
                            <select id="mdlTransferid" disabled class="bootstrap-select" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Responsible_Id</label>
                        </div>
                        <div class="col-sm-9">
                            <select id="mdlReponsibleuser" disabled class="bootstrap-select" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Asset Id</label>
                        </div>
                        <div class="col-sm-9">
                            <select id="mdlAssetid" disabled class="bootstrap-select" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Requester_Id</label>
                        </div>
                        <div class="col-sm-9">
                            <select id="mdlrequesteruser" disabled class="bootstrap-select" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label>Comments</label>
                        </div>
                        <div class="col-sm-9">
                            <textarea id="mdlRequestercomments" class="form-control" style="width:100%;">
                            </textarea>
                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" id="btnUpdate" onclick="EditTransferRequest()" class="btn btn-primary" data-dismiss="modal">Approve</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</body>

<script>
    var Role_Id;
    $(document).ready(function () {
        Role_Id = @ViewBag.Role_Id;
      
    });
    document.getElementById("tabassets").click();
    var tablefc1 = $('#AssetTable').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "autoWidth": false,
        "columnDefs": [{
        //    'targets': 0,
        //    'searchable': false,
        //    'orderable': false,
        //    'className': 'select-checkbox',

        //}, {data-toggle="modal" data-target="#myModal"
                'targets': 6,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    return '<input type="button"  class = "btn btn-success"  class="btn-primary" value="Transfer" name="id[]" value="'
                        + $('<div/>').text(data).html() + '">';
                },
            },

        ],
        "order": [[0, "desc"]]
    });
    var tablefc2 = $('#PLCTable').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "autoWidth": false,
        "columnDefs": [ {
                'targets': 6,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    //return '<input type="button"  class = "btn btn-success" data-toggle="modal" data-target="#myModal" class="btn-primary" value="Transfer" name="id[]" value="'
                    //    + $('<div/>').text(data).html() + '">';
                    return '<input type="button"  class = "btn btn-success" class="btn-primary" value="Transfer" name="id[]" value="'
                        + $('<div/>').text(data).html() + '">';
                },
            },
        ],

        "order": [[0, "desc"]]
    });
    var tablefc3 = $('#TransferTable').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],

        "columnDefs": [
             {
                'targets': 6,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    return '<input type="button"  class = "btn btn-danger" class="btn-primary" value="Revert" name="id[]" value="'
                        + $('<div/>').text(data).html() + '">';
                },
            },
        ],
        "autoWidth": false,
        "order": [[0, "desc"]]
    });
    var tablefc4 = $('#ProcessTable').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],

        "columnDefs": [
            {
                'targets': 6,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    return '<input type="button"  class = "btn btn-success" class="btn-primary" value="Approve" name="id[]" value="'
                        + $('<div/>').text(data).html() + '">';
                },
            },
            {
                'targets': 7,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    return '<input type="button"  class = "btn btn-danger" class="btn-primary" value="Reject" name="id[]" value="'
                        + $('<div/>').text(data).html() + '">';
                },
            },
        ],
        "autoWidth": false,
        "order": [[0, "desc"]]
    });

    function openAssets(evt, cityName) {
        debugger;
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    $(document).ready(function (){
        $("#mdlProject")
            .select2({

                allowClear: true
            });
        $("#mdlReponsible")
            .select2({

                allowClear: true
            });
        $("#mdlAssettype")
            .select2({

                allowClear: true
            });
        $("#mdlrequester")
            .select2({

                allowClear: true
            });

        $("#mdlTransferid")
            .select2({

                allowClear: true
            });

        $("#mdlReponsibleuser")
            .select2({

                allowClear: true
            });

        $("#mdlAssetid")
            .select2({

                allowClear: true
            });

        $("#mdlrequesteruser")
            .select2({

                allowClear: true
            });

    });
    function AssetTransfer()
    {
        this.ProjectId;
        this.AssetId;
        this.AssetType_Id;
        this.Responsible_UserId;
        this.Requester_UserId;
        this.Transfer_State;
        this.Responsible_Comments;
        this.Requester_Comments;
        this.CreatedDate;
        this.CreatedBy;
        this.ModifiedDate;
        this.ModifiedBy;
        this.IsCancelled;
        this.IsAcknowledeged;
        this.IsActive;
    }

    function EditTransferRequest() {

        var assetTransfer = new AssetTransfer();
        assetTransfer.Transfer_State = "Accepted";
        assetTransfer.Requester_Comments = $('#mdlRequestercomments').val();
        assetTransfer.CreatedDate = new Date().toLocaleString();
        assetTransfer.CreatedBy = null;
        assetTransfer.ModifiedDate = new Date().toLocaleString();
        assetTransfer.ModifiedBy = $('#mdlrequesteruser').val();
        assetTransfer.IsCancelled = null;
        assetTransfer.IsAcknowledeged = true;
        assetTransfer.IsActive = true;

        $.getJSON("@Url.Action("EditEntry", "AssetTransfer")", { list: JSON.stringify(assetTransfer) }, function (data) {
            if (data) {

            }
        });

    }

    function fnTransferAssets() {
        var AssetID = parseInt($('#mdlAssettype').val());
         var assetTransfer = new AssetTransfer();
        assetTransfer.ProjectId = parseInt( $('#mdlProject').val());
        assetTransfer.AssetId = AssetID;
        assetTransfer.AssetType_Id = parseInt($('#mdlAssettype').val());
        assetTransfer.Responsible_UserId = parseInt( $('#mdlReponsible').val());
                assetTransfer.Transfer_State = "Initiated"
        assetTransfer.Responsible_Comments = $('#mdlcomments').val();
        assetTransfer.Requester_UserId = parseInt($('#mdlrequester').val());
        assetTransfer.Requester_Comments = "";
        assetTransfer.CreatedDate = new Date().toLocaleString();
        assetTransfer.CreatedBy = null;
        assetTransfer.ModifiedDate = null;
        assetTransfer.ModifiedBy = null;
        assetTransfer.IsCancelled = null;
        assetTransfer.IsAcknowledeged = null;
        assetTransfer.IsActive = null;


        //var a = JSON.stringify(assetTransfer);
        //alert(a);

        $.getJSON("@Url.Action("AssetTransfer", "Assets")", { list: JSON.stringify(assetTransfer) }, function (data) {
            if (data) {
                alert("Transfered Successfully");
            }
        });


        @*$.ajax({
            type: 'POST',
            url: '@Url.Action("AssetTransfer", "Assets")',
            data: { list: JSON.stringify(assetTransfer) },
            contentType: "application/json; charset=utf-8",
               success: function (view) {
                   alert("transferd Successfully");
            },
            failure: function (response) {
            }
        });*@
    }

    var assetdet = [];
    $('#AssetTable tbody' ).on('click', '.btn-success', function () {

        var tr = $(this).closest("tr");

        var SerialNo = tr[0].childNodes[5].innerText;
        $.getJSON("@Url.Action("GetAsset", "Assets")", { SerialNo: SerialNo }, function (data) {
            if (data) {
                debugger;
                assetdet = data.AsseDetails[0];
                _requester = data.Users;
                var assetType = [];
                $('#mdlAssettype').append(new Option(assetdet.AssetType_Name, assetdet.AssetType_Id));
                $('#mdlReponsible').append(new Option(assetdet.UserName, assetdet.UserID));
                $('#mdlProject').append(new Option(assetdet.ProjectName, assetdet.ProjectId));
                $('#mdlrequester').select2({
                    data: _requester
                });

                $('#mdlAssets').modal({
                    show: 'true'
                });
                }
         });
    });

    $('#PLCTable tbody' ).on('click', '.btn-success', function () {

        var tr = $(this).closest("tr");

        var SerialNo = tr[0].childNodes[11].innerText;
        $.getJSON("@Url.Action("GetAssetPlc", "Assets")", { SerialNo: SerialNo }, function (data) {
            if (data) {
                debugger;
                assetdet = data.AsseDetails[0];
                _requester = data.Users;
                var assetType = [];
                $('#mdlAssettype').append(new Option(assetdet.AssetType_Name, assetdet.AssetType_Id));
                $('#mdlReponsible').append(new Option(assetdet.UserName, assetdet.UserID));
                $('#mdlProject').append(new Option(assetdet.ProjectName, assetdet.ProjectId));
                $('#mdlrequester').select2({
                    data: _requester
                });

                $('#mdlAssets').modal({
                    show: 'true'
                });
                }
         });
    });

    $('#TransferTable tbody').on('click', '.btn-danger', function () {
        var tr = $(this).closest("tr");

        debugger;
        var Transfer_ID = parseInt(tr[0].childNodes[1].innerText);
        tr.remove();
        $.getJSON("@Url.Action("DeleteEntry", "AssetTransfer")", { id: Transfer_ID }, function (data) {
            if (data) {
                debugger;
                alert("Transfer request deleted successfully.");
                //tr.remove();
                //var myTable = $('#TransferTable').DataTable();

                //myTable.row(tr).delete();

                //$('#myTable').on('click', 'tbody tr', function () {

                //    myTable.row(this).delete();

                //});

            }
        });
    });
    var assetDet = [];
    $('#ProcessTable tbody' ).on('click', '.btn-success', function () {

        var tr = $(this).closest("tr");

        var Transfer_Id = tr[0].childNodes[1].innerText;
        $.getJSON("@Url.Action("GetTransferDetails", "AssetTransfer")", { id: Transfer_Id }, function (data) {
            if (data) {
                debugger;
                assetDet = data.AssetTransferDetails[0];
                
                $('#mdlTransferid').append(new Option(assetDet.TransferId, assetDet.TransferId));
                $('#mdlReponsibleuser').append(new Option(assetDet.Responsible_UserId, assetDet.Responsible_UserId));
                $('#mdlAssetid').append(new Option(assetDet.AssetId, assetDet.AssetId));
                $('#mdlrequesteruser').append(new Option(assetDet.Requester_UserId, assetDet.Requester_UserId));
                
                $('#mdlTransfer').modal({
                    show: 'true'
                });
                }
         });
    });






    @*$('#ProcessTable tbody').on('click', '.btn-danger', function () {
        debugger;
        var tr = $(this).closest("tr");

        var Transfer_ID = parseInt(tr[0].childNodes[1].innerText);

        $.getJSON("@Url.Action("DeleteEntry", "AssetTransfer")", { id: Transfer_ID }, function (data) {
            if (data) {
                debugger;
                alert("Transfer request deleted successfully.");

            }
        });
    });*@


    function fnShow() {
        debugger;
        var UserId = $('#ddluser').val();
        var RedirectUri = location.origin + "/" + "Assets//Assets/"  + "?UserId=" + UserId;
        window.location.href = RedirectUri;
    }

</script>