@using SiemensProjectManagement.Models;
@model SiemensProjectManagement.Models.AssetDetail
@{
    ViewBag.Title = "Assets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js" integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css" integrity="sha512-BMbq2It2D3J17/C7aRklzOODG1IQ3+MHw3ifzBHMBwGO/0yUqYmsStgBjI0z5EYlaDEFnvYV7gNYdD3vFLRKsA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<h2>Assets</h2>
<table id="assetdet">
    <thead>
        <tr>
            <td>
                Username
            </td>
            <td>
                Hostname
            </td>
            <td>
                Serial No.
            </td>
            <td>
                Location
            </td>
            <td>
                ExpireBy
            </td>
            <td>
                ProjectName
            </td>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var result in TempData["Assets"] as List<AssetDetail>)
            {
                <tr>
                    <td>
                        @result.UserName
                    </td>

                    <td>
                        @result.HostName
                    </td>
                    <td>
                        @result.Serial_No
                    </td>
                    <td>
                        @result.Location
                    </td>
                    <td>
                        @result.ExpireBy
                    </td>
                    <td>
                        @result.ProjectID
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>



    var tablefc1 = $('#assetdet').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }
        ],
        "order": [[0, "desc"]]
    });

</script>